/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* nav bar */
.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}
nav li {
    float: left;
    list-style-type: none;
    display: inline, block;
    text-align: center;
}
nav li:hover {
    background-color: #777;
}
nav ul {
    font-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}
nav li a {
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    display: block;
}
/* table style */

table, td, th {
    border: 1px solid #777;
    border-collapse: collapse;
    border-spacing: 0;
}
tr:nth-child(even) {
    background: #CCC;
}
tr:nth-child(odd) {
    background: #FFF;
}
th, td {
    padding: 3px;
}
/* a - links */
a {
    color: #000099;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 750px) {
    article {
        display: block;
    }
    .navbar {
        position: fixed;
        top: 0;
        z-index: 1;
    }
    nav ul {
        font-size: 160%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #555;
    }
    body {
        line-height: 1.3;
        background-size: cover;
        background-image: url('/static/images/medieval-landscape.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left top;
        margin: 0;
    }
    .container {
        position: absolute;
        left: 20%;
        width: 60%;
        margin: 0 auto;
        min-width: 600px;
        overflow: hidden;
        display: inline-block;
        border: 2px solid #555;
        background-color: white;
        padding: 12px;
        margin-top: 100px;
    }
}
/* font sizes */
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1.12em;
}
h5 {
    font-size: .83em;
}
h6 {
    font-size: .75em;
}
/* 5style */
section {
    position: relative;
    left: 1.5%;
    padding-right: 1.5%;
}
