{% extends "layout.html" %}
{% block content %}

{% if name %}
<h1>{{name}}, the {{subrace.name}} {{archetype.name}} {{character_class.name}}</h1>
{% else %}
<h1>{{subrace.name}} {{archetype.name}} {{character_class.name}}</h1>
{% endif %}

<section>
    <p><b>Hit Point Rate:</b> {{character_class.hit_point_rate}}</p>
    <p><b>Class Skills:</b> {{character_class.skills}}</p>
    <p><b>Racial Favoured Skills:</b> {{race.favored_skills}}</p>
    <p><b>Skill Points:</b> {{character_class.skill_points}} + Int per level</p>
    <table>
        {% for i in range(character_class.table[0]|count) %}
        <tr>
            {% for col in character_class.table %}
            {% if i == 0 %}
            <th>{{col[i]}}</th>
            {% else %}
            <td> {{col[i]}} </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </p>
</section>
<h5>Class Features</h5>
    </p>
    <section>
        <p><b>Proficiencies:</b> {{character_class.proficiencies}}</p>
        {% for level in range(character_class.class_features|length) %}
        {% for feature in character_class.class_features[level] %}
        <a name={{feature[0].title().replace(" ","")}}></a>
    <p><b>{{feature[0]+" : "}}</b>{{feature[1]|safe}}</p>
  {% endfor %}
  {% endfor %}
  <section>
    <p><b>Feats:</b>
    {% for fid, feat in feats_of_class[character_class.ref] %}
     <a href=" /feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
        {% else %}
        None.
        {% endfor %}
        </p>
    </section>
    </section>
    <p>
    <h5>Archetype Features</h5>
        </p>
        <p>
        <h3 id="{{archetype.name}}">{{archetype.name}}</h3>
        </p>
        <section>
            <p>{{archetype.free_text|safe}}</p>
            <p><b>Lesser Archetype Power: </b>{{archetype.lesser_archetype_power|safe}}</p>
            <p><b>Moderate Archetype Power: </b>{{archetype.moderate_archetype_power|safe}}</p>
            <p><b>Greater Archetype Power: </b>{{archetype.greater_archetype_power|safe}}</p>
        </section>
        <section>
            <p><b>Feats:</b>
                {% for fid, feat in feats_of_archetype[archetype.ref] %}
                <a href="/feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                None.
                {% endfor %}
            </p>
        </section>
        <h5>Racial Features</h5>
            <section>
                <h2>Features</h2>
                {% for name, text in race.features.items() %}
                <p><b>{{name + ": "}}</b> {{text|safe}}</p>
                {% endfor %}
                {% for name, text in subrace.features.items() %}
                <p><b>{{name + ": "}}</b> {{text|safe}}</p>
                {% endfor %}
            </section>


            <section>
                {% if race.lesser_racial_power is not none %}
                <p><b>Lesser Racial Power: </b>{{race.lesser_racial_power|safe}}</p>
                {% endif %}
                {% if subrace.lesser_racial_power is not none %}
                <p><b>Lesser Racial Power: </b>{{subrace.lesser_racial_power|safe}}</p>
                {% endif %}
                {% if race.moderate_racial_power is not none %}
                <p><b>Moderate Racial Power: </b>{{race.moderate_racial_power|safe}}</p>
                {% endif %}
                {% if subrace.moderate_racial_power is not none %}
                <p><b>Moderate Racial Power: </b>{{subrace.moderate_racial_power|safe}}</p>
                {% endif %}
                {% if race.greater_racial_power is not none %}
                <p><b>Greater Racial Power: </b>{{race.greater_racial_power|safe}}</p>
                {% endif %}
                {% if subrace.greater_racial_power is not none %}
                <p><b>Greater Racial Power: </b>{{subrace.greater_racial_power|safe}}</p>
                {% endif %}
            </section>
            <section>
            <b>Feats:</b>
                {% for fid, feat in feats_of_race[race.ref] %}
                <a href="/feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% for fid, feat in feats_of_race[subrace.ref] %}
                <a href="/feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </section>
            {% endblock %}