{% extends "layout.html" %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th><a href=/houserules>HPR</a></th>
    <th>BAB</th>
    <th>Fort</th>
    <th>Ref</th>
    <th>Will</th>
    <th>Skill points</th>
    <th>Class skills</th>
  </tr>
  {% for class in classes %}
  <tr>
    <td><a href=/class?name={{ class.ref }}>{{class.name}}</a></td>
    <td>{{class.hit_point_rate}}</td>
    <td>{{class.base_attack_bonus}}</td>
    <td>{{class.fortitude}}</td>
    <td>{{class.reflex}}</td>
    <td>{{class.will}}</td>
    <td>{{class.skill_points + " + int"}}</td>
    <td>{{class.skills}}</td>
  </tr>
  {% endfor %}
</table>
<article>
</article>
{% endblock %}
