{% extends "layout.html" %}
{% block content %}
      <p><h1>The {{c.name}}</h1></p>
      <section>
      <p><b>Hit Point Rate:</b> {{c.hit_point_rate}}</p>
      <p><b>Class Skills:</b> {{c.skills}}</p>
      <p><b>Skill Points:</b> {{c.skill_points}} + Int per level</p>
      <p>
        <table>
          {% for i in range(c.table[0]|count) %}
          <tr>
            {% for col in c.table %}
              {% if i == 0 %}
                <th>{{col[i]}}</th>
                {% else %}
                <td> {{col[i]}} </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </p>
      </section>
      <p><h2>Class Features</h2></p>
      <section>
        <p><b>Proficiencies:</b> {{c.proficiencies}}</p>
        {% for level in range(c.class_features|length) %}
        {% for feature in c.class_features[level] %}
        <a name={{feature[0].title().replace(" ","")}}></a>
          <p><b>{{feature[0]+": "}}</b>{{feature[1]|safe}}</p>
        {% endfor %}
        {% endfor %}
      </section>
      <section>
        <p><b>Feats:</b>
        {% for fid, feat in feats_of_class[c.ref] %}
         <a href="/feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
        {% else %}
         None.
        {% endfor %}
        </p>
      </section>
      <p><h2 id="archetypes">Archetypes</h2><p>
      <section>
        {% for archetype in c.archetypes %}
        <p><h3 id="{{archetype.name}}">{{archetype.name}}</h3></p>
        <section>
          <p>{{archetype.free_text|safe}}</p>
          <p><b>Lesser Archetype Power: </b>{{archetype.lesser_archetype_power|safe}}</p>
          <p><b>Moderate Archetype Power: </b>{{archetype.moderate_archetype_power|safe}}</p>
          <p><b>Greater Archetype Power: </b>{{archetype.greater_archetype_power|safe}}</p>
        </section>
        <section>
          <p><b>Feats:</b>
            {% for fid, feat in feats_of_archetype[archetype.ref] %}
            <a href="/feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
            {% else %}
            None.
            {% endfor %}
          </p>
        </section>
          {% endfor %}
      </section>

{% endblock %}
