{% extends "layout.html" %}
{% block content %}
   <p><h3> {{feat.name}} {% for descriptor in feat.descriptors %} [{{descriptor}}] {% endfor %}</h3></p>
   <section>
       <p> <em> {{feat.flavor}} </em> </p>
      <p><b>Prerequisites:</b> {{feat.prerequisites}}</p>
      <p><b>Benefit:</b> {{feat.benefit|safe}}</p>
      {% for spec in feat.specials %}
      <p><b>Special:</b> {{spec}}</p>
      {% endfor %}
    </section>
{% endblock %}
