{% extends "layout.html" %}


{% block content %}

<button class="accordion toggle_all">
    expand/collapse all
</button>

{% for feat_category in featcategories %}
<button class="accordion">
    {{feat_category}}
</button>
<div class="panel">
    <table>
        <tr>
            <th>Name</th>
            <th>Prerequisites</th>
            <th>Short Description</th>
            {% for feat in featcategories[feat_category] %}
            <tr>
                <td><a href=/feat?name={{ feat.ref }}>{{feat.name}}</a></td>
                <td>{{feat.prerequisites}}</td>
                <td>{{feat.short|safe}}</td>
            </tr>
            {% endfor %}
    </table>
</div>

{% endfor %}

{% endblock %}
