{% extends "layout.html" %}
{% block content %}
  {% for feat in feats %}
  <div class="container">
      <p><h3> {{feat.name}} {% for descriptor in feat.descriptors %} [{{descriptor}}] {% endfor %}</h3></p>
        <p> {{feat.flavor}}</p>
      <p><b>Prerequisites:</b> {{feat.prerequisites }}</p>
      <p><b>Benefit:</b> {{feat.benefit}}</p>
      {% for spec in feat.specials %}
      <p><b>Special:</b> {{spec}}</p>
      {% endfor %}
  </div>
  {% endfor %}
{% endblock %}
