{% extends "layout.html" %}

{% block content %}
<h1>Login</h1>
<h3>Please verify that you are worthy to reload the website data!</h3>
{% if error %}<h3>An error occurred, please check manually!</h3>{% endif %}

<form action="/fetch-data" method="POST">

    <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>


{% endblock %}