{% extends "layout.html" %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Str</th>
    <th>Dex</th>
    <th>Con</th>
    <th>Int</th>
    <th>Wis</th>
    <th>Cha</th>
    <th>Experience</th>
    <th>Status</th>
    <th>Race</th>
    <th>Classes</th>
    <th>Short Description</th>
  </tr>
  {% for char in characters %}
  <tr>
    <td><a href=/halloffamecharacter?name={{ char.ref }}>{{char.name}}</td>
    <td>{{char.str}}</td>
    <td>{{char.dex}}</td>
    <td>{{char.con}}</td>
    <td>{{char.int}}</td>
    <td>{{char.wis}}</td>
    <td>{{char.cha}}</td>
    <td>{{char.experience}}</td>
    <td>{{char.status}}</td>
    <td>{{char.race}}</td>
    <td>{{char.classes}}</td>
    <td>{{char.short}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
