{% extends "layout.html" %}
{% block content %}

<table>
  <tr>
    <th>Name</th>
    <th>Str</th>
    <th>Dex</th>
    <th>Con</th>
    <th>Int</th>
    <th>Wis</th>
    <th>Cha</th>
    <th>Experience</th>
    <th>Status</th>
    <th>Race</th>
    <th>Classes</th>
    <th>Short Description</th>
  </tr>
  <tr>
    <td><a href={{"/halloffamecharacter?name="+"".join(character.name.split(" "))}}>{{character.name}}</td>
    <td>{{character.str}}</td>
    <td>{{character.dex}}</td>
    <td>{{character.con}}</td>
    <td>{{character.int}}</td>
    <td>{{character.wis}}</td>
    <td>{{character.cha}}</td>
    <td>{{character.experience}}</td>
    <td>{{character.status}}</td>
    <td>{{character.race}}</td>
    <td>{{character.classes}}</td>
    <td>{{character.short}}</td>
  </tr>
</table>
<p><h3> {{character.name}}</h3></p>
   <section>
      {{character.description|safe}}
    </section>
{% endblock %}
