{% extends "layout.html" %}
{% block content %}
  <h1>6levels4heroes</h1>
  <p>6levels4heroes is a variant of <a
    href="http://www.enworld.org/forum/showthread.php?206323-E6-The-Game-Inside-D-amp-D">E6: The
    Game Inside the World’s Most Popular RPG</a>. There are many new powers and mechanics which are
  implemented to make the first 6 levels more interesting. All classes should have some niche. Also the power level is increased, so
  you do not need to adapt your monsters. But remember: <em>Never Deal with a Dragon</em></p>
  <h2>E6: The Game Inside the World’s Most Popular RPG </h3>
  <h3>What is E6</h3>
  <p>A fellow named Ryan Dancey <a
  href='http://vlr.tynt.com/?format=txt&key=284d869ffe43382ebe88a02cabb697ab&u=http%3A%2F%2Fforum.rpg.net%2Fshowpost.php%3Fp%3D6899494%26postcount%3D12&subId=cmiDRqefir46JEacwqm_6l&txt=suggested&loc=http%3A%2F%2Fwww.enworld.org%2Fforum%2Fshowthread.php%3F206323-E6-The-Game-Inside-D-amp-D&ref=http%3A%2F%2Fwww.giantitp.com%2Fforums%2Fshowthread.php%3F483755-E6-Compendium-Volume-3%26p%3D20626832&title=E6%3A%20The%20Game%20Inside%20D%26D'>suggested</a> that d20 has four distinct quartiles of
  play:</p>
  Levels 1-5: Gritty fantasy <br>
  Levels 6-10: Heroic fantasy <br>

  Levels 11-15: Wuxia <br>

  Levels 16-20: Superheroes <br>

  There’s been some great discussion at EN World and elsewhere about how to define those quartiles,
  and how each group eventually finds the quartiles that suit them best.

  <p>E6 is a game about d20’s first two quartiles, and focuses on continuously delivering exciting
  heroic fantasy, even in a very long campaign. Like d20, E6 can be adapted to a wide variety of
  settings, from high-magic action-adventure where magic takes the place of technology to low-magic
  worlds where sorcerers are spoken of in frightened whispers and dragons are the stuff of legend.
  E6 keeps all the benefits and familiarity of low-level d20 games: Fast-paced combat, quick prep,
  and an incredible wealth of third-party material that can be used with the game. E6 has been
  playtested extensively, and its rules that can be explained to veteran d20 players in under a
  minute.
  </p>
  <h3>How E6 works</h3>
  <p>Like d20, E6 is a game of enigmatic wizards, canny rogues, and mighty warriors who rise against
  terrible dangers and overcome powerful foes. But instead of using d20’s 20 levels to translate
  characters into the rules, E6 uses only the first 6. E6 is about changing one of d20’s essential
  assumptions, but it doesn't need a lot of rules to make that change.
  </p>
  <p>To understand E6, imagine the perspective of the average medieval peasant in a d20 game. This
  person has the stats of a 1st-level commoner, and while they might not know their stats
  explicitly, they know their relation to the rest of the world. Our peasant knows that he can be
  killed quite easily by maurauding raiders, enemy soldiers, or even wild animals. He’s not mighty,
  he’s not organized, and he doesn’t have any special skills to bring to bear when danger strikes.
  He worries about drought and flood, and the welfare of his livestock. His extended family likely
  all lives within a mile of his birthplace. To him, a trip to a town ten miles off is an expedition
  into the unknown.
  </p>
  <p>
  Imagine you are this peasant, and you meet a trio of 6th-level adventurers. When you address the
  wizard, you are speaking to someone who could incinerate your home and slay all your livestock
  with a few words. The fighter has prevailed against a dozen orcish skirmishers and slain them all
  – and he could do the same again. The cleric is a man so holy that the gods themselves have
  granted him the power to cure the sick and heal the wounded. These are epic heroes.
  </p>
  <p>
  Now consider the powers of a CR 5 manticore. To the peasant, the appearance of this manticore near
  the village isn’t a nuisance: the beast can, and likely will slay you in seconds if you draw its
  attention. You, your livestock, and your entire family are in immediate danger of violent death.
  Even if you were well armed and gathered a large peasant militia, your village faces heavy losses
  and no guarantee of success. Against such a creature, adventurers may be your only hope. E6
  recognizes that 6th level characters are mortal, while reframing the game’s perspective to create
  a context where those same 6th level characters are epic heroes.
  </p>
{% endblock %}
