{% extends "layout.html" %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  {% for rule in houserules %}
  <tr>
    <td><a id="{{rule.name}}">{{rule.name}}</a></td>
    <td>{{rule.description|safe}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
