{% extends "layout.html" %}
{% block content %}
    <p> <h3> {{incantation.name}}</h3>
    <section>
        {{incantation.school}} {{incantation.level}}

        {% if incantation.duration != None %}
        <br><b>Duration:</b> {{incantation.duration}}
        {% endif %}

        {% if incantation.cast_action != None %}
        <br><b>Action:</b> {{incantation.cast_action}}
        {% endif %}

        {% if incantation.range != None %}
        <br><b>Range:</b> {{incantation.range}}
        {% endif %}

        {% if incantation.target != None %}
        <br><b>Target:</b> {{incantation.target}}
        {% endif %}

        {% if incantation.area != None %}
        <br><b>Area:</b> {{incantation.area}}
        {% endif %}

        {% if incantation.save != None %}
        <br><b>Save:</b> {{incantation.save}}
        {% endif %}

      {% if incantation.skill_checks != None %}
        <br><b>Skill checks:</b> {{incantation.skill_checks}}
        {% endif %}



    </p>


    <p><i> {{incantation.flavor}}</i></p>
    <p> {{incantation.description|safe}}</p>
    </p>

      <p><i>Focus: {{incantation.focus}}</i></p>
      <p><i>Backlash: {{incantation.backlash}}</i></p>
      <p><i>Material Component: {{incantation.material}}</i></p>
      <p><i>Failure: {{incantation.failure}}</i></p>
  </section>
{% endblock %}
