{% extends "layout.html" %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Short Description</th>
  {% for incantation in incantations %}
  <tr>
    <td><a href=incantation?name={{ incantation.ref }}>{{incantation.name}}</a></td>
    <td>{{incantation.flavor}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
