{% extends "layout.html" %}
{% block content %}
    <p> <h3> {{invocation.name}}</h3>
    <section>
      {{invocation.school}}
      <br><b>Level: </b>{{invocation.level}}

        {% if invocation.duration != None %}
        <br><b>Duration:</b> {{invocation.duration}}
        {% endif %}

        {% if invocation.cast_action != None %}
        <br><b>Action:</b> {{invocation.cast_action}}
        {% endif %}

        {% if invocation.range != None %}
        <br><b>Range:</b> {{invocation.range}}
        {% endif %}

        {% if invocation.target != None %}
        <br><b>Target:</b> {{invocation.target}}
        {% endif %}

        {% if invocation.area != None %}
        <br><b>Area:</b> {{invocation.area}}
        {% endif %}

        {% if invocation.save != None %}
        <br><b>Save:</b> {{invocation.save}}
        {% endif %}

      {% if invocation.skill_checks != None %}
        <br><b>Skill checks:</b> {{invocation.skill_checks}}
        {% endif %}



    </p>


    <p><i> {{invocation.flavor}}</i></p>
    <p> {{invocation.description|safe}}</p>
    </p>

      <p><i>Focus: {{invocation.focus}}</i></p>
      <p><i>Material Component: {{invocation.material}}</i></p>
    </section>
{% endblock %}
