{% extends "layout.html" %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
  {% for invocation in invocations %}
  <tr>
    <td><a href=invocation?name={{ invocation.ref }}>{{invocation.name}}</a></td>
    <td>{{invocation.level}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
