{% extends "layout.html" %}
{% block content %}
    <p> <h3> {{item.name}}</h3>
    <section>
      {{item.kind}}
      <br><b>Slot: </b>{{item.slot}}
    </p>
    <p><i> {{item.flavor}}</i></p>
    <p>{{item.description|safe}}</p>
    </p>

    </section>
{% endblock %}
