{% extends "layout.html" %}
{% block content %}

{% for item_category in itemcategories %}

<h3>{{item_category}}</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Short Description</th>
  {% for item in itemcategories[item_category] %}
  <tr>
    <td><a href=item?name={{ item.ref }}>{{item.name}}</a></td>
    <td>{{item.kind}}</td>
    <td>{{item.short}}</td>
  </tr>
  {% endfor %}
</table>

{% endfor %}


{% endblock %}
