<!DOCTYPE html>
<html>
  <head>
    <title>6levels4heroes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.ico') }}"/>
    <!--Target less enabled mobile browsers-->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,
            initial-scale=1.0">
    <meta charset="UTF-8">
  </head>
  <body>
    <nav class="navbar navbar-default center" role="navigation">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li><a href="feats">Feats</a></li>
        <li><a href="classes">Classes</a></li>
        <li><a href="races">Races</a></li>
        <li><a href="incantations">Incantations</a></li>
        <li><a href="spells">Spells</a></li>
        <li><a href="psipowers">Psi Powers</a></li>
        <li><a href="invocations">Invocations</a></li>
        <li><a href="maneuvers">Maneuvers</a></li>
        <li><a href="houserules">Houserules</a></li>
        <li><a href="utterances">Utterances</a></li>
        <li><a href="items">Items</a></li>
        <li><a href="halloffame">Hall of Fame</a></li>
        <li><a href="https://cse.google.de/cse/publicurl?cx=008960838029167040007:zr463qe5aoa">Search</a></li>
        </ul>
      </div>
      </nav>

  <article class="container">
     {% block content %}


     {% endblock %}
  </article>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='spoilers.js') }}"></script>
  </body>
</html>
