{% extends "layout.html" %}
{% block content %}
    <p> <h3> {{maneuver.name}}</h3>
        {{maneuver.school}} {{maneuver.level}} ({{maneuver.type}})
        {% if maneuver.prerequisites != None %}
        <br><b>Prerequisites:</b> {{maneuver.prerequisites}}
        {% endif %}

        {% if maneuver.duration != None %}
        <br><b>Duration:</b> {{maneuver.duration}}
        {% endif %}

        {% if maneuver.cast_action != None %}
        <br><b>Action:</b> {{maneuver.cast_action}}
        {% endif %}

        {% if maneuver.range != None %}
        <br><b>Range:</b> {{maneuver.range}}
        {% endif %}

        {% if maneuver.target != None %}
        <br><b>Target:</b> {{maneuver.target}}
        {% endif %}

        {% if maneuver.area != None %}
        <br><b>Area:</b> {{maneuver.area}}
        {% endif %}

        {% if maneuver.save != None %}
        <br><b>Save:</b> {{maneuver.save}}
        {% endif %}

    </p>

    <p><i> {{maneuver.flavor}}</i></p>
    <p> {{maneuver.description|safe}}</p>
    </p>
{% endblock %}
