{% extends "layout.html" %}
{% block content %}

{% for maneuver_category in maneuvercategories %}

<button class="accordion">
<a name={{maneuver_category.title().replace(" ","")}}></a>
<h3 id="{{maneuver_category}}">{{maneuver_category}}</h3>
</button>

<div class="panel">
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Level</th>
    <th>Short Description</th>
  {% for maneuver in maneuvercategories[maneuver_category] %}
  <tr>
    <td><a href=maneuver?name={{ maneuver.ref }}>{{maneuver.name}}</a></td>
    <td>{{maneuver.type}}</td>
    <td>{{maneuver.level}}</td>
    <td>{{maneuver.flavor}}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endfor %}


{% endblock %}
