{% extends "layout.html" %}
{% block content %}
    <p> <h3> {{psipower.name}}</h3>
    <section>
      {{psipower.school}}
      <br><b>Level: </b>{{psipower.level}}

        {% if psipower.duration != None %}
        <br><b>Duration:</b> {{psipower.duration}}
        {% endif %}

        {% if psipower.cast_action != None %}
        <br><b>Action:</b> {{psipower.cast_action}}
        {% endif %}

        {% if psipower.range != None %}
        <br><b>Range:</b> {{psipower.range}}
        {% endif %}

        {% if psipower.target != None %}
        <br><b>Target:</b> {{psipower.target}}
        {% endif %}

        {% if psipower.area != None %}
        <br><b>Area:</b> {{psipower.area}}
        {% endif %}

        {% if psipower.save != None %}
        <br><b>Save:</b> {{psipower.save}}
        {% endif %}

      {% if psipower.skill_checks != None %}
        <br><b>Skill checks:</b> {{psipower.skill_checks}}
        {% endif %}



    </p>


    <p><i> {{psipower.flavor}}</i></p>
    <p> {{psipower.description|safe}}</p>
    </p>

      <p><i>Focus: {{psipower.focus}}</i></p>
      <p><i>Material Component: {{psipower.material}}</i></p>
    </section>
{% endblock %}
