{% extends "layout.html" %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Short Description</th>
  {% for psipower in psipowers %}
  <tr>
    <td><a href=psipower?name={{ psipower.ref }}>{{psipower.name}}</a></td>
    <td>{{psipower.level}}</td>
    <td>{{psipower.flavor}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
