{% extends "layout.html" %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Attributes</th>
    <th>Favored Skills</th>
  </tr>
  {% for race in races %}
  <tr>
    <td><a href=race?name={{ race.ref }}>{{race.name}}</a></td>
    <td>{{race.attributes}}</td>
    <td>{{race.favored_skills}}</td>
  </tr>
  {% endfor %}
</table>
<article>

<h2>General Rules</h2>
<p>
Some races may choose to which attribute they receive a bonus. These bonuses do not stack with
themselves or other bonuses granted from a race. And they do not overwrite mali.</p>
<p>All races receive some lesser, moderate and greater abilities. Which are granted at level 2, 4,
6 respectively.</p>
<p> <em>Favored Skill:</em> Favored skills are always class skills and receive a +2 racial bonus.</p>
</article>
{% endblock %}
