{% extends "layout.html" %}
{% block content %}
      <h1>The {{race.name}}</h1>
      <h2>Properties</h2>
      <section>
      <p><b>Attributes:</b> {{race.attributes}}</p>
      <p><b>Favored Skills:</b> {{race.favored_skills}}</p>
      <p><b>Size:</b> {{race.size}}</p>
      <p><b>Type:</b> {{race.racial_type}}</p>
      <p><b>Movement:</b> {{race.movement}}</p>
      </section>

      <section>
        <h2>Features</h2>
        {% for name, text in race.features.items() %}
        <p><b>{{name + ": "}}</b> {{text|safe}}</p>
        {% endfor %}
      </section>

        {% if race.lesser_racial_power is not none or race.moderate_racial_power is not none or race.greater_racial_power is not none %}
      <section>

        <h2>Racial Powers</h2>
        {% if race.lesser_racial_power is not none %}
        <p><b>Lesser Racial Power: </b>{{race.lesser_racial_power|safe}}</p>
        {% endif %}
        {% if race.moderate_racial_power is not none %}
        <p><b>Moderate Racial Power: </b>{{race.moderate_racial_power|safe}}</p>
        {% endif %}
        {% if race.greater_racial_power is not none %}
        <p><b>Greater Racial Power: </b>{{race.greater_racial_power|safe}}</p>
        {% endif %}
      </section>
        {% endif %}

      <section>
        <p><b>Feats:</b>
        {% for fid, feat in feats_of_race[race.ref] %}
         <a href="/feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
        {% else %}
         None.
        {% endfor %}
        </p>
      </section>


	  
        <h2 id="subraces">Subraces</h2>
      <section>
        {% for subrace in race.subraces%}
        <p><h3 id="{{subrace.name}}">{{subrace.name}}</h3></p>
        <p><b>Attributes:</b> {{subrace.attributes}}</p>
        <section>
        {% for name, text in subrace.features.items() %}
          <p><b>{{name|safe+": "}}</b>{{text|safe}}</p>
        {% endfor %}
        {% if subrace.lesser_racial_power is not none %}
          <p><b>Lesser Racial Power: </b>{{subrace.lesser_racial_power|safe}}</p>
        {% endif %}
        {% if subrace.moderate_racial_power is not none %}
          <p><b>Moderate Racial Power: </b>{{subrace.moderate_racial_power|safe}}</p>
        {% endif %}
        {% if subrace.greater_racial_power is not none %}
          <p><b>Greater Racial Power: </b>{{subrace.greater_racial_power|safe}}</p>
        {% endif %}

      <section>
        <p><b>Feats:</b>
        {% for fid, feat in feats_of_race[subrace.ref] %}
         <a href="/feat?name={{fid}}">{{feat.name}}</a>{% if not loop.last %}, {% endif %}
        {% else %}
         None.
        {% endfor %}
        </p>
      </section>


        </section>
          {% endfor %}
      </section>
{% endblock %}
