{% extends "layout.html" %}
{% block content %}

{% for spell_category in spellcategories %}

<h3>{{spell_category}}</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Short Description</th>
  {% for spell in spellcategories[spell_category] %}
  <tr>
    <td><a href=spell?name={{ spell.ref }}>{{spell.name}}</a></td>
    <td>{{spell.level}}</td>
    <td>{{spell.flavor}}</td>
  </tr>
  {% endfor %}
</table>

{% endfor %}


{% endblock %}
