{% extends "layout.html" %}
{% block content %}
    <p> <h3> {{spell.name}}</h3>
    <section>
      {{spell.school}}
      {% if spell.descriptors != None %}
      [{{spell.descriptors}}]
      {% endif %}
      <br><b>Level: </b>{{spell.level}}

        {% if spell.duration != None %}
        <br><b>Duration:</b> {{spell.duration}}
        {% endif %}

        {% if spell.cast_action != None %}
        <br><b>Action:</b> {{spell.cast_action}}
        {% endif %}

        {% if spell.range != None %}
        <br><b>Range:</b> {{spell.range}}
        {% endif %}

        {% if spell.target != None %}
        <br><b>Target:</b> {{spell.target}}
        {% endif %}

        {% if spell.area != None %}
        <br><b>Area:</b> {{spell.area}}
        {% endif %}

        {% if spell.save != None %}
        <br><b>Save:</b> {{spell.save}}
        {% endif %}

      {% if spell.skill_checks != None %}
        <br><b>Skill checks:</b> {{spell.skill_checks}}
        {% endif %}



    </p>


    <p><i> {{spell.flavor}}</i></p>
    <p> {{spell.description|safe}}</p>
    </p>

      <p><i>Focus: {{spell.focus}}</i></p>
      <p><i>Material Component: {{spell.material}}</i></p>
    </section>
{% endblock %}
