{% extends "layout.html" %}
{% block content %}

{% for utterance_category in utterancecategories %}

<h3>{{utterance_category}}</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Short Description</th>
  {% for utterance in utterancecategories[utterance_category] %}
  <tr>
    <td><a href=utterance?name={{ utterance.ref }}>{{utterance.name}}</a></td>
    <td>{{utterance.level}}</td>
    <td>{{utterance.flavor}}</td>
  </tr>
  {% endfor %}
</table>

{% endfor %}


{% endblock %}
