{% extends "layout.html" %}
{% block content %}
    <h3> {{utterance.name}}</h3>
    <section>
      {{utterance.school}}
      {% if utterance.descriptors != None %}
      [{{utterance.descriptors}}]
      {% endif %}
      <br><b>Level: </b>{{utterance.level}}

        {% if utterance.duration != None %}
        <br><b>Duration:</b> {{utterance.duration}}
        {% endif %}

        {% if utterance.range != None %}
        <br><b>Range:</b> {{utterance.range}}
        {% endif %}

        {% if utterance.target != None %}
        <br><b>Target:</b> {{utterance.target}}
        {% endif %}

        {% if utterance.area != None %}
        <br><b>Area:</b> {{utterance.area}}
        {% endif %}

        {% if utterance.save != None %}
        <br><b>Save:</b> {{utterance.save}}
        {% endif %}


    <p> {{utterance.description|safe}}</p>

    </section>
{% endblock %}
